.row{
	height:30vw;
	width:30vw;
	background-color:green;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
body{
background:green;
display:flex;
justify-content:center;
}
input{
display:block;
height:50px;
width:100px;
}
#pa{
height:35vw;
width:35vw;
display: flex;
flex-wrap:wrap;
}
.ch{
float: left;
height=auto;
background:red;
border:0.01px solid black;
}
